asgiref==3.4.1
astroid==2.8.4
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
crispy-bootstrap5==0.6
dj-database-url==0.5.0
Django==3.2.8
django-bootstrap-icons==0.7.1
django-bootstrap-v5==1.0.6
django-bootstrap5==2.1.2
django-crispy-forms==1.13.0
gunicorn==20.1.0
idna==3.3
importlab==0.6.1
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
networkx==2.6.3
platformdirs==2.4.0
psycopg2-binary==2.9.1
pylint==2.11.1
python-dateutil==2.4.2
pytz==2021.3
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
tldextract==1.6
toml==0.10.2
typing-extensions==3.10.0.2
unicodecsv==0.13.0
urllib3==1.26.7
wrapt==1.13.2
