{% extends "base/body.html" %}

{% block title %}
Productos
    
{% endblock title %}


{% block header %}
    <h1>Listado General de Productos</h1>
{% endblock header %}
    

{% block content %}
    {% if query %}
    <div class="container-fluid">
            <div>
                <form method="get">
                <p>Para Buscar un Producto en específico, digite su nombre en la caja de texto y presione el boton buscar <input type="text" name="producto" > <input type="submit" value="buscar">
                </p>
                </form>
            </div>
        <hr class="dropdown-divider">
    </div>


        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Identificación</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Opciones</th>        
                </tr>
                </thead>
                <tbody>  
                    {% for row in query %}
                    <tr>
                        <th scope="row">{{row.id}}</th>
                        <td>{{row.nombre}}</td>
                        <td>{{row.cantidad}}</td>
                        <td>{{row.uniades}}</td>
                        <td>{{row.marca}}</td>                    
                        <td><a class="btn btn-info" href="{% url 'Inventario:productoDetalle' row.id %}">Info</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
    <div class="container-fluid">
        <div>
            <form method="get">
            <p>Para Buscar un producto en específico, digite su nombre en la caja de texto y presione el boton buscar <input type="text" name="producto" > <input type="submit" value="buscar">
            </p>
            </form>
        </div>
    <hr class="dropdown-divider">
</div>   
        <p>No hay registros!, intente con otra identificación o revise que esté bien escrita</p>
            <a class="btn btn-primary" href="">Volver Atrás</a>
    {% endif %}
            

    
{% endblock content %}